@import 'base/variables';
@import 'base/media';

* {
    font-family: 'Gotham Rounded', sans-serif;

    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/home';
@import 'blocks/buttons';
@import 'blocks/menu';
@import 'blocks/rappresent';
@import 'blocks/titles';
@import 'blocks/subtitles';
@import 'blocks/design';
@import 'blocks/community';
@import 'blocks/subscribe';
@import 'blocks/download';
@import 'blocks/footer';