.button {
    width: 166px;
    height: 49px;
    background: $main-color;
    border-radius: 5px;
    border: none;

    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    transition: 0.5s all;
    &:focus {
        outline: none;
    }
    &:hover {
        background:  #ffffff;
        color:$main-color;
    }
    &_main {
        margin-top: 15px;
    }
}