.button {
    width: 166px;
    height: 49px;
    background: $main-color;
    border-radius: 30px;
    border: none;

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}