.community {
    min-height: 483px;
    padding: 94px 0 118px 0;
    background-color: $bg-color;
    &__wrapper {
        margin: 0 64px;
        display: flex;
    }
    &__content {
        display: flex;
        min-width: 178px;
        flex-direction: column;
    }
    &__logo {
        width: 100%;
        height: 55px;
        width: 59px;
        margin: 68px 0px 0px 58px;
    }
    &__carousel {
        margin-left: 80px;
        display: flex;
        flex-direction: column;
        min-width: 765px;
    }
    &__angle {
        position: relative;
        text-align: right;
        top: -7px;
        &_left {
            margin-right: 10px;
        }
    }
}