.download {
    min-height: 396px;
    padding: 87px 0 116px 0;
    background-color: $bg-color;
    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 42px;
    }
    &__background {
        display: flex;
        align-items: center;
        height: 56px;
        width: 56px;
        border-radius: 0 5px 5px 0;
        background-color: $main-color;
    }
}