.header {
    display: block;
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__menu {
        padding: 0;
        margin: 0;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
    }
}