.menu {
    &__element {
        margin-top: 24px;
        display: flex;
        &:nth-child(1){
            margin-left: 0px;
        }
    }
    &__link {
        margin: 0 60px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        transition: 0.4s all;
        &:hover {
            color: $main-color;
        }
        &:nth-child(1){
            margin-left: 0px;
        }
    }
    &__item {
        margin-left: 37px;
    }
    &__logo {
        display: block;
        max-height: 55px;
        img {
            max-width: 100%;
        }
    }
}