.rappresent {
    padding-top: 110px;
    min-height: 490px;
    background-color: $bg-color;
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        margin: 0 64px;
    }
    &__content {
        display: flex;
        flex-direction: column;
       /*  min-width: 448px; */
        min-width: 50%;
    }
    &__img {
        text-align: center;
        width: 50%;
        img {
            width: 100%;
            height: auto;
            min-width: 642px;
        }
    }
}