.rappresent {
    padding-top: 110px;
    min-height: 490px;
    background-color: #f5f6f7;
    &__wrapper{
        display: flex;
        margin: 0 64px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        min-width: 448px;
    }
    &__img {
        text-align: center;
        img {
            width: 100%;
            height: auto;
            min-width: 642px;
        }
    }
}