.subscribe {
    min-height: 790px;
    padding: 348px 0 325px 0;
    background: url(/img/fifth_bg.jpg) center (center/cover) no-repeat;
    &__form {
        display: flex;
        justify-content: center;
        margin-top: 29px;
        input {
            width: 280px;
            height: 60px;
            font-size: 16px;
            color: $text-color;
            text-transform: uppercase;
            font-weight: 500;
            border-radius: 5px 0 0 5px;
            padding-left: 21px;
            letter-spacing: 2.3px;
            &:focus {
                outline: none;
            }
        }
    }
}