.subtitle {
    margin: 0;
    margin-top: 38px;
    color: #373737;
    font-size: 12px;
    line-height: 24px;
    font-weight: book;
    letter-spacing: 1.8px;
    &_second-screen {
        span {
            font-weight: bold;
        }
    }
    &_third-screen {
        margin-top: 33px;
        line-height: 22px;
        span {
            font-weight: bold;
        }
    }
    &_fourth-screen {
        margin-top: 20px;
        text-align: center;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1.7px;
    }
    &_sixth-screen {
        max-width: 877px;
        margin-top: 5px;
        margin-left: 138px;
        font-size: 12px;
        font-weight: medium;
        text-align: center;
        color: #373737;
        text-transform: uppercase;
        letter-spacing: 1.85px;
        line-height: 22px;
    }
}