.subtitle {
    margin: 0;
    margin-top: 38px;
    color: #373737;
    font-size: 12px;
    line-height: 24px;
    font-weight: book;
    letter-spacing: 1.8px;
    &_second-screen {
        span {
            font-weight: bold;
        }
    }
    &_third-screen {
        margin: 33px 0 0 3px;
        line-height: 22px;
    }
    &_fourth-screen {
        margin-top: 20px;
        text-align: center;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1.7px;
    }
}