.subtitle {
    margin-top: 30px;
    color: #373737;
    font-size: 12px;
    line-height: 24px;
    font-weight: book;
    letter-spacing: 1.8px;
    &_rap {
        margin-left: 64px;
        span {
            font-weight: bold;
        }
    }
}