.title {
    margin: 0;
    color: $main-color;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    &_fourth-screen {
        margin-top: 28px;
        font-size: 16px;
        letter-spacing: 2.4px;
        color: #373737;
    }
    &_fifth-screen {
        margin-left: 3px;
        text-align: center;
        color: #ffffff;
        font-size: 24px;
        letter-spacing: 3.6px;
    }
}